 body{
    background-color: black;/*This is the background color*/
    }
h1{
    color: skyblue; /*This is the h1 color*/
    text-align: center; /*This is the h1 alignment*/
    font-family: sans-serif; /*This is the h1 font*/
    font-size: 40px; /*This is the h1 size*/
    }
h2{
    color:deepskyblue; /*This is the h2 color*/
    text-align: center; /*This is the h2 alignment*/
    font-family:cursive; /*This is the h2 font*/
    font-size: 100px; /*This is the h2 size*/
    }
h3{
    color: deepskyblue; /*This is the h3 color*/
    text-align: center;/*This is the h3 alignment*/
    font-family: sans-serif; /*This is the h3 font*/
    font-size: 30px; /*This is the h3 size*/
    }
h4{
    color: deepskyblue; 
    text-align: center; 
    font-family: sans-serif; 
    font-size: 30px; 
    }
h5{
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: 25;
    }
h6{
    color: deepskyblue;
    text-align: center;
    font-family: sans-serif; 
    font-size: 30px; 
    float: below;
    }
h10{
    color:white;
    text-align: left;
    font-family:sans-serif;
    font-size: 24px:
    }
p {
    color:deepskyblue; /*This is the p color*/
    text-align:center; /*This is the p alignment*/
    font-family:sans-serif; /*This is the p font*/
    font-size: 40px: /*This is the p size*/
    }
p2{
    font-size: 22px; /*This is the p2 size*/
    color:deepskyblue; /*This is the p2 color*/
    font-family:monospace; /*This is the p2 font*/
    }
p3{
    color:white;
    text-align: inherit;
    font-family: monospace;
    font-size: 18px:
    }
 pre{
    font-family: sans-serif; /*This is the pre font*/
    font-size: 20px; /*This is the pre size*/
    text-align: center; /*This is the pre alignment*/
    color: aqua; /*This is the pre color*/
    }
ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #169;
    }
li {
    float: left
    }
li a {
    display: block;
    color: white; /*This is the nav bar text color*/
    text-align: center; /*This is the nav bar text alignment */
    padding: 20px 110px; /*This is the nav bar border around the text*/
    text-decoration:none;
    font-family: sans-serif; /*This is the nav bar text font */
    }
li a:hover {
    background-color: #000; /*This is the nav bar background color when hovered on*/
    }
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    }

div.gallery:hover {
    border: 1px solid #777;
    }

div.gallery img {
    width: 100%;
    height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
    color: aqua;
    font-family: sans-serif;
    }
