        body{ /*This is for the background color*/
            background-color:black
        }
        h1{
            text-align: center; /*This is for the alignment of my first header*/
            color:skyblue; /*This is for the color of my first header*/
            font-family: sans-serif; /*This is for the font of my first header*/
            font-size: 40px; /*This is for the font size of my first header*/  
        }
       h2{
            color:deepskyblue; /*This is for the color of my second header*/
            text-align: center;/*This is for the alignment of my second header*/
            font-family:cursive;/*This is for the font of my second header*/
            font-size: 100px; /*This is for the font size of my second header*/  
        }
         pre{
            font-family: sans-serif; /*This is for the font of my pre paragraph*/
            font-size: 20px; /*This is for the font size of my pre paragpragh*/ 
            text-align: center; /*This is for the alignment of my pre paragrapgh*/
            color: aqua /*This is for the color of my pre paragrapgh*/
        }
        p1{
            font-size: 22px; /*This is the font size for my first paragraph*/
            color:deepskyblue; /*This is the color of my paragrapgh font*/
            font-family:monospace; /*This is the type of font my paragrapgh is in*/
        }
        p2{
            font-size: 22px; /*This is the font size of my paragraph 2's*/
            color:deepskyblue; /*This is the color or the text in paragraph 2*/
            font-family:monospace /*This is the text style of the paragraph*/
        }
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #169;} /*This is the color of my nav bar*/
        li {
            float: left;}
        li a {
            display: block;
            color: white; /*This is the color of the text in my nav bar*/
            text-align: center; /*This is the alignment of my text in my nav bar*/
            padding: 20px 110px; /*This is the padding size around my nav bar*/
            text-decoration: none;
            font-family: sans-serif; } /*This is the font of my nav bar*/
       li a:hover {
           background-color: #000; /*This is the color of the background of my nav bar when you hover over it*/
        }
